.preloader{
    position:fixed;
    z-index: 5;
    inset:0;
    background-color: rgba(0, 178, 160, 1);
    animation-name:fade-out;
    animation-duration: 3s;
    animation-iteration-count: 1;
    opacity:0;
    pointer-events: none;
}

.preloader__in{
    position:absolute;
    inset:0;
    background-color: rgb(214, 213, 213);
    animation-name: circle;
    animation-duration: 3s;
    animation-iteration-count: 1;
    clip-path:circle(75%);
}

@keyframes fade-out{
    0%{opacity:1}
    80%{opacity:1}
    100%{opacity:0}
}

@keyframes circle{
    0%{clip-path: circle(100%)}
    5%{clip-path: circle(95%)}
    10%{clip-path: circle(85%)}
    20%{clip-path: circle(75%)}
    50%{clip-path: circle(25%)}
    100%{clip-path: circle(75%)}
}