$font-text:'Roboto Condensed',sans-serif;
$font-main:'Raleway', sans-serif;


.blogSection {
    margin-top: 180px;

    .blogTitle {
        font-family: $font-main;
        font-weight: 600;
        font-size: 3rem;
        line-height: 100%;
        vertical-align: bottom;
        color:rgba(1, 53, 62, 1);
        letter-spacing: 0.6px;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 21px 0 0 33px;
        max-height: 50px;

        .tt{
            font-family:$font-main;
            font-size: 4.5rem;
            font-weight: 600;
            line-height: 100%;
            letter-spacing: 0.6px;
            vertical-align: bottom;
            color:rgba(0, 178, 160, 1);
            margin-right: -15px;
            margin-top: 4px;

        }
    }
    .blogImgInfoSection {
        position: relative;
        background-image: url('../public/BLOG.jpg');
        background-size: cover;
        background-position: center;
        max-height: 80.3125rem;
        margin: 15.695rem 0 0 0;
        padding-bottom: 4.8125rem;
        @media(max-width:1800px){
            margin: 12rem 0 0 0;
            padding-bottom: 4rem;
        }
        @media(max-width:1220px){
            margin: 9rem 0 0 0;
            padding-bottom: 2rem;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3); // Черный с 40% прозрачностью
            z-index: 1;
        }

        .topBlogBlock{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            position: relative; // Чтобы контент был поверх затемнения
            z-index: 2; // Выше затемнения
            @media(max-width:850px){
                    grid-template-columns: 1fr;
                    justify-content: center;
                    margin: 0 auto;
                }

            .illusion{
                @media(max-width:850px){
                    display:none;
                }
            }

            .rightSide{
                
                .textBlogSection{
                    margin: 19.9375rem 22.5rem 0 0;
                    @media(max-width:1800px){
                        margin: 18rem auto;
                        max-width: 400px;
                    }
                    @media(max-width:440px){
                        margin: 18rem auto;
                        max-width: 300px;
                    }
                    @media(max-width:330px){
                        margin: 18rem auto;
                        max-width: 200px;
                    }
                    
                    
                    .blogCentralInfo {
                        font-family:$font-text;
                        font-weight: 400;
                        font-size: 3rem;
                        line-height: 3.5rem;
                        letter-spacing: 0.6px;
                        vertical-align: bottom;
                        color:rgba(255, 255, 255, 1);   
                        margin: 0;
                        @media(max-width:1441px){
                            font-size: 3.5rem;
                            line-height: 4rem;
                        }
                        @media(max-width:520px){
                            font-size: 5rem;
                            line-height: 6rem;
                        }
                    }
                    .blogOptionalInfo {
                        font-family:$font-text;
                        font-weight: 300;
                        font-size: 0.875rem;
                        line-height: 1.125rem;
                        letter-spacing: 0.6px;
                        vertical-align: bottom;
                        color:rgba(255, 255, 255, 1); 
                        margin: 0;
                        @media(max-width:1441px){
                            font-size: 2rem;
                            line-height: 2.5rem;
                        }
                        @media(max-width:1441px){
                            font-size: 1.7rem;
                            line-height: 2rem;
                        }
                        @media(max-width:520px){
                            font-size: 2rem;
                            line-height: 2.5rem;
                        }
                    }
                }
            }
        }
    }
    .ellipseSection {
        position: relative; // Чтобы контент был поверх затемнения
        z-index: 2; // Выше затемнения
        justify-content: center;
        text-align: center;
        max-width:17.8125rem;
        margin: 16.25rem auto  0 auto;
        display: grid;
        grid-template-columns: repeat(10,1fr);
        column-gap: 15px;
        @media(max-width:1800px){
            column-gap: 0.8rem;
            }
            @media(max-width:920px){
                margin-top: 10rem;
            }

    
        .ellipse {
            height: 0.9375rem;
            width: 0.9375rem;
            background-color:rgba(255, 255, 255, 1);
            border-radius: 50%;
            border:none;
            cursor:pointer;
            &:hover{
                color:rgb(170, 169, 169);
                border:2px solid rgba(0, 178, 160, 1);
                transform: scale(1.5);
                transition-duration: 0.5s;
            }
            @media(max-width:1800px){
                height: 0.8rem;
                width: 0.8rem;
                border-radius: 50%
            }
            @media(max-width:840px){
                height: 0.8rem;
                width: 0.8rem;
                border-radius: 50%
            }
        }
    }
}