$font-text:'Roboto Condensed',sans-serif;
$font-main:'Raleway', sans-serif;


footer{  
    .titleRequest {
        font-family: $font-main;
        font-weight: 600;
        font-size: 3rem;
        line-height: 100%;
        vertical-align: bottom;
        color:rgba(1, 53, 62, 1);
        letter-spacing: 0.6px;
        display: flex;
        justify-content: center;
        padding: 5px 0 0 35px;
        max-height: 50px;
        margin:0 auto;
        @media(max-width:1650px){}
        .tt {
            font-family:$font-main;
            font-size: 4.5rem;
            font-weight: 600;
            line-height: 100%;
            letter-spacing: 0.6px;
            vertical-align: bottom;
            color:rgba(0, 178, 160, 1);
            margin-right: -15px;
            margin-top: 14px;
            @media(max-width:1440px){
                margin-top: 0;
            }
        }
    }
    .formContacts {
    display: grid;
    grid-template-columns: 569fr 600fr;
    column-gap: 30px;
    max-width: 1200px;
    justify-content: center;
    margin: 15.25rem auto 0 auto;
        @media(max-width:1650px){
                margin-top:12rem;
            }
        @media(max-width:1440px){
            margin-top:10rem;
        }
        @media(max-width:1220px){
            margin: 0 4rem 2rem 4rem;
            margin-top:8rem;
        }
        @media(max-width:980px){
            margin-top:7rem;
        }
        @media(max-width:870px){
            margin-top:5rem;
        }
        @media(max-width:580px){
            grid-template-columns: 1fr;
            row-gap: 5rem;
            column-gap: 0px;
            max-width: 1200px;
            justify-content: center;
            margin: 0 4rem ;
        }
        .requestForm {

            @mixin anyInput {
                padding: 0;
                border: none;
                outline: none;
                margin: 0;
                width:100%;
                height: 100%;
                font-family:$font-text;
                font-size: 1.125rem;
                @media(max-width:1650px){
                        font-size:1.3rem ;
                        line-height: 1.6rem;
                    }
                @media(max-width:1441px){
                    font-size:1.7rem ;
                    line-height: 2rem;
                }
            }

            @mixin anyPlaceholder{
                font-family: $font-text;
                font-weight: 400;
                font-size: 1.125rem;
                letter-spacing: 0.6px;
                vertical-align: bottom;
                color:rgba(0, 178, 160, 1);
                @media(max-width:1650px){
                        font-size:1.3rem ;
                        line-height: 1.6rem;
                    }
                @media(max-width:1441px){
                    font-size:1.7rem ;
                    line-height: 2rem;
                }
            }
            .formName {
                margin: 0 0 2rem 0;
                border-bottom: 1px solid rgba(218, 218, 218, 1);
                height: 2.375rem;
                padding: 0;
                
                        
                .nameInput{
                    @include anyInput;
                    &:focus::placeholder{
                        color:blue;
                    }
                }
                .nameInput::placeholder {
                    @include anyPlaceholder;
                }
            }
            .formTel {
                padding: 0;
                margin: 0 0 3.65rem 0;
                border-bottom: 1px solid rgba(218, 218, 218, 1);
                height: 2.375rem;
                .telInput{
                    @include anyInput;
                    }
                    .telInput::placeholder {
                        @include anyPlaceholder;
                }
            }
            .message {
                height: 9.75rem;
                padding: 0;
                margin: 0 0 5rem 0;
                border-bottom: 1px solid rgba(218, 218, 218, 1);
                @media(max-width:580px){
                    margin:2.5rem;
                }
                .inputMessage{
                    @include anyInput;
                }
                .inputMessage::placeholder {
                    @include anyPlaceholder;
                }
            }
            .submit {
                font-family: $font-text;
                font-weight: 400;
                font-size: 1.5rem;
                line-height: 1.125rem;
                letter-spacing: 0.6px;
                vertical-align: bottom;
                color:rgba(36, 33, 33, 1);
                padding: 1.5rem 7rem;
                background-color: rgba(255, 255, 255, 1);
                justify-content: center;
                text-align: center;
                margin:0 25%;
                @media(max-width:870px){
                    margin: 0 20%;
                }
                @media(max-width:680px){
                    margin: 0 25%;
                    font-size: 2rem;
                    line-height: 1.5rem;
                    padding: 1rem 4rem;
                }
                @media(max-width:580px){
                    margin: 0 35%;
                }
                
            }
            .submit:hover{
            background:linear-gradient(135deg, gold, rgb(237, 205, 46), gold);
            transform:translate(0px, -10px);
            transition-duration: 1s;
            cursor:pointer;
        }
        }
        .footerRightContacts {
            background-color: rgba(248, 248, 248, 1);
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 65px;
            padding:53px 221px 71px 52px;
            @media(max-width:1650px){
                padding:45px 200px 60px 50px;
                row-gap: 4rem;
            }
            @media(max-width:1440px){
                padding:40px 150px 50px 45px;
                row-gap: 3rem;
            }
            @media(max-width:1020px){
                padding:30px 100px 40px 40px;
            }
            @media(max-width:780px){
                padding:20px 50px 30px 30px;
            }
            @media(max-width:680px){
                padding:15px 40px 25px 25px;
            }
            @media(max-width:580px){
                padding:10px 20px 15px 15px;
            }
        

            @mixin QuestionElement{
                    font-family: $font-text;
                    font-weight: 400;
                    font-size: 1.5rem;
                    line-height: 1.875rem;
                    letter-spacing: 0.6px;
                    vertical-align: bottom;
                    color:rgba(36, 33, 33, 1);
                    margin: 0;
                }
            .whereQest,.socialMedia,.adress {
                @include QuestionElement
            }
        }
    }
    .socialMediaClick {
        justify-content: center;
        text-align: center;
        margin: 12.8rem auto 12.5rem auto;
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 13px;
        @media(max-width:1650px){
            margin: 10rem auto;
        }
        @media(max-width:1440px){
            margin: 8rem auto ;
        }
        @media(max-width:1020px){
            margin: 7rem auto ;
        }
        @media(max-width:780px){
            margin: 6 auto ;
        }
        @media(max-width:680px){
            margin: 5rem auto ;
        }
        @media(max-width:580px){
            margin: 4rem auto;
        }
        @media(max-width:360px){
            grid-template-columns: 1fr;
            column-gap: 0px;
            row-gap: 2rem;
        }
        


    @mixin socialMediaClicked{
        font-family: $font-text;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.125rem;
        letter-spacing: 0.6px;
        vertical-align: bottom;
        color:rgba(36, 33, 33, 1);
        text-decoration: none;
        @media(max-width:1221px){
            font-size: 2rem;
            line-height: 2.5rem;
        }
    }

        .inst,.facebook,.youtube {
            @include socialMediaClicked
        }
    }
    .imgFooter {
    display:flex;
    justify-content: center;
        .lastImgFooter {
            width: 100%;
        }
    }
}
