$font-text:'Roboto Condensed',sans-serif;
$font-main:'Raleway', sans-serif;

html, body {
    overflow-x: hidden; /* Запретить горизонтальную прокрутку */
    max-width: 100%;    /* Не больше 100% ширины */
    width: 100%;
}
html{
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1920px;
     scroll-behavior: smooth;

    
    @media (max-width: 1650px) {
        font-size: 14px;
    }
    
    @media (max-width:1440px) {
        font-size: 12px;
    }
    @media (max-width: 1200px) {
        font-size: 10px;
    }
    
    @media (max-width: 1020px) {
        font-size: 9px;
    }
    @media(max-width: 600px){
        font-size: 8px;
    }
    @media(max-width: 520px){
        font-size: 7px;
    }
}
    


*,*::before, *::after{
    box-sizing: inherit;
}

    body{
        margin:0 auto;
        max-width: 1920px;
        .mainContainer{
            background-image: url('/public/header.svg');
            background-size: cover;
            margin: 0 auto;
            max-width: 100%;
            max-height: 67.5rem;
            display: grid;
            background-position: center;
            position: relative;

            &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 28rem; // Высота затенения
            background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0.7) 0%,
                rgba(0, 0, 0, 0.2) 50%,
                rgba(0, 0, 0, 0.0) 100%
            );
            pointer-events: none;
            z-index: 1;
        }
    
    // Контент поверх затенения
    header, .wewe {
        position: relative;
        z-index: 2;
    }
            
            header{
                margin-top:2.3175rem;
                margin-left:18.75%;
                margin-right: 31.14583333%;
                max-width:1920px;
                display:grid;
                gap:20%;
                grid-template-columns: 4rem auto;

                @media(max-width:900px){
                margin-right: 15%;
                margin-left: 3%;
                }

                @media(max-width: 500px){
                    gap:5%
                }
                
                .logo {
                    max-width: 100%;
                    height: auto;
                }
                
                .navigationHead{
                    gap:45px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    
                    @media(width<1551px){
                        gap:1rem;
                    }
                    @media(width<500px){
                        display:grid;
                        grid-template-rows: repeat(2,1fr);
                        grid-template-columns: repeat(2,1fr);
                        column-gap:55%;
                    }

                    @media(width<300px){
                        column-gap:25%;
                    }

                }
                .navigationHead>*{
                    font-family: $font-text ;
                    font-weight: 400;
                    font-size: 1.5rem;
                    line-height: 100%;
                    letter-spacing: 0.6px;
                    vertical-align: bottom;
                    color:rgba(255, 255, 255, 1);
                    text-decoration: none;
                    white-space: nowrap;
                    &:hover{
                    text-decoration: underline rgba(0, 178, 160, 1);
                    border:none;
                    box-shadow: 0 15px 10px rgba(0, 178, 160, 0.5);
                    border-radius:25%;
                    transform: translate(5px ,-5px);
                    transition-duration: 0.5s;
                    }
                }
            }
            .wewe{
                margin: 0 auto;
                display: grid;
                grid-template-columns: 1fr;
                text-align: center;
                cursor:default;
                z-index: 4;
                @media(max-width:768px){
                    z-index: 1;
                }


                >h1{
                    font-family: $font-main;
                    color:rgba(13, 48, 44, 1);
                    font-weight: 700;
                    font-size: 12.5rem;
                    line-height: 100%;
                    letter-spacing: 0.6px;
                    vertical-align: bottom;
                    gap:1.1rem;
                    text-align: center;
                    justify-content: center;
                    margin: 16.5625rem 0 0 2.5rem;

                    @media (max-width: 1800px){
                    font-size: 9rem;
                    margin: 14rem 0 0 2rem;
                    }
                    
                    @media (max-width: 1550px){
                        font-size: 7rem;
                        margin: 12rem 0 0 1.5rem;
                    }
                    @media (max-width: 1220px){
                        margin: 10rem 0 0 1.2rem;
                    }
                    
                    @media (max-width: 870px){
                        font-size: 5rem;
                        margin: 7rem 0 0 1rem;
                    }
                    
                    @media (max-width: 650px){
                        font-size: 3rem;
                        margin: 4rem 0 0 0.5rem;
                    }
                    
                    @media (max-width: 480px){
                        font-size: 2.5rem; 
                        margin: 2rem 0 0 0;
                    }
                }
                >p{
                    font-family:$font-text  ;
                    font-weight: 400;
                    font-size: 1.5rem;
                    line-height: 100%;
                    letter-spacing: 0.6px;
                    vertical-align: bottom;
                    margin-bottom: 30.75rem;
                    margin-top: 1.2rem;
                    
                    @media (max-width: 1800px){
                        margin-bottom:29rem ;
                    }
                    
                    @media (max-width: 1550px){
                        margin-bottom:25rem ;
                    }
                    @media (max-width: 1220px){
                        margin-bottom:20rem ;
                    }
                    
                    @media (max-width: 870px){
                        margin-bottom:15rem ;
                    }
                    
                    @media (max-width: 650px){
                        margin-bottom:10rem ;
                    }
                    
                    @media (max-width: 480px){
                        margin-bottom:5rem ;
                    }
                }
            }
        }
    }