$font-text:'Roboto Condensed',sans-serif;






.intermedia-1 {
    background-color: rgba(248, 248, 248, 1);
    height:12.5rem ;
    @media(max-width:1650px){
        height:12.5rem ;
    }
    @media(max-width:260px){
        height:20rem ;
        margin-bottom: 5px;
    }
    .quote {
        padding: 80px 0 0 0;
        margin: 0 auto; 
        font-family: $font-text;
        font-weight: 400;
        font-size: 2.25rem;
        line-height: 40px;
        letter-spacing: 0.6px;
        vertical-align: bottom;
        color:rgba(36, 33, 33, 1);
        justify-content: center;
        text-align: center;
        transform: skew(-10deg);
        @media(max-width:1650px){
            font-size: 2.5rem;
            margin-bottom: 10px;
        }
        @media(max-width:1650px){
            font-size: 3rem;
            margin-bottom: 8px;
        }
        @media(max-width:1201px){
            padding: 40px 0 0 0;
        }
        @media(max-width:850px){
            padding: 30px 0 0 0;
        }
        @media(max-width:522px){
            padding: 15px 0 0 0;
        }
        @media(max-width:400px){
            font-size: 2rem;
            padding: 0 0 0 0 ;
        }
    }

    .natYang {
        margin: 0 0 0 600px;
        font-family: $font-text;
        font-weight: 300;
        font-size: 0.875rem;
        line-height: 18px;
        letter-spacing: 0.6px;
        vertical-align: bottom;
        color:rgba(36, 33, 33, 1);
        justify-content: center;
        text-align: center;
        transform: skew(-10deg);
        @media(max-width:1650px){
            font-size: 1.2rem;
        }
        @media(max-width:1441px){
            font-size: 1.5rem;
        }
        @media(max-width:980px){
            font-size: 1.7rem;
            margin: 0 0 0 400px;
        }
        @media(max-width:650px){
            font-size: 1.7rem;
            margin: 0 0 0 200px;
        }
        @media(max-width:480px){
            font-size: 2.5rem;
            margin: 0 0 0 30px;
        }
        @media(max-width:430px){
            font-size: 2.5rem;
            margin: 0 0 0 30px;
        }
        @media(max-width:400px){
            font-size: 2rem;
            margin: 0 0 0 10px;
        }
    }
}