$font-text:'Roboto Condensed',sans-serif;
$font-main:'Raleway', sans-serif;


.goTop {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-bottom: 12.5rem;
    @media(max-width:850px){
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: 1fr;
    }
    @media(max-width:850px){
        padding-bottom: 2rem;;
    }
    @media(max-width:600px){
        max-height: 800px;
    }
    @media(max-width:396px){
        margin-bottom: 10rem;
    }
    @media(max-width:367px){
        margin-bottom: 20rem;
    }
    @media(max-width:341px){
        margin-bottom: 30rem;
    }
    @media(max-width:335px){
        margin-bottom: 40rem;
    }
    @media(max-width:291px){
        margin-bottom: 50rem;
    }
    @media(max-width:270px){
        margin-bottom: 60rem;
    }
    @media(max-width:259px){
        margin-bottom: 70rem;
    }
    @media(max-width:245px){
        margin-bottom: 80rem;
    }
    @media(max-width:233px){
        margin-bottom: 90rem;
    }
    @media(max-width:225px){
        margin-bottom: 100rem;
    }
    
    
    

    .leftGoTop {
    margin: 11.3rem 0 0 22.5rem;
    @media(max-width:1880px){
        margin: 10rem 0 0 20rem;
        padding-bottom: 11rem;
    }
    @media(max-width:1800px){
        margin: 9.5rem 0 0 19rem;
    }
    @media(max-width:1760px){
        margin: 9rem 0 0 18rem;
    }
    @media(max-width:1730px){
        margin: 8rem 0 0 16rem;
        padding-bottom: 9rem;
    }
    @media(max-width:1470px){
        margin: 7rem 0 0 14rem;
        padding-bottom: 9rem;
    }
    @media(max-width:1425px){
        margin: 7rem 0 0 13rem;
        padding-bottom: 9rem;
    }
    @media(max-width:1350px){
        margin: 6rem 0 0 12rem;
        padding-bottom: 9rem;
    }
    @media(max-width:1250px){
        margin: 6rem 0 0 11rem;
        padding-bottom: 9rem;
    }
    @media(max-width:1050px){
        margin: 5rem 0 0 9rem;
        padding-bottom: 9rem;
    }
    @media(max-width:800px){
        margin: 5rem 0 0 7rem;
        padding-bottom: 7rem;
    }
    @media(max-width:690px){
        margin: 5rem 0 0 5rem;
        padding-bottom: 5rem;
    }
    @media(max-width:320px){
        margin: 2rem 0 0 2rem;
        padding-bottom: 2rem;
    }
        .goTopTitle {
            margin: 0 0 0 0;
            font-weight: 600;
            font-family:$font-main;
            font-size: 3rem;
            line-height: 100%;
            letter-spacing: 0.6px;
            vertical-align: bottom;
            color:rgba(1, 53, 62, 1);
            @media(max-width:360px){
                font-size: 2.5rem;
            }
            @media(max-width:260px){
                font-size: 2rem;
            }
            .tt {
            font-size: 4.5rem;
            font-family:$font-main;
            font-weight: 600;
            letter-spacing: 0.6px;
            line-height: 100%;
            vertical-align: bottom;
            color:rgba(0, 178, 160, 1);
            }
        }
        .goTopParagraphBlock {
            margin: 6.5rem 5.75rem 0 0;
            display: grid;
            row-gap: 30px;
            @media(max-width:1660px){
                margin: 5rem 4.5rem 0 0;
            }
            >*{
                font-weight: 300;
                font-family: $font-text;
                font-size: 0.875rem;
                line-height: 1.125rem;
                letter-spacing: 0.6px;
                vertical-align: bottom;
                color:rgba(36, 33, 33, 1);
                margin: 0;
                @media(max-width:1440px){
                font-size:1.25rem; 
                line-height: 2rem;  
                }
                @media(max-width:1200px){
                font-size:1.5rem; 
                line-height: 2.5rem;  
                }
                @media(max-width:850px){
                    border:solid 3px rgba(0, 178, 160, 1);
                    border-radius: 10px;
                    padding: 10px;
                }
                @media(max-width:600px){
                font-size:2rem; 
                line-height: 3.25rem;  
                }
            }
        }
    }
    .rightGoTop{
        background-image: url('../public/goTopIMG.svg');
        background-size: cover;
        max-width: 100%;
        background-position: center;
        @media(max-width:1920px){
            height: 850px;
        }
        @media(max-width:1440px){
            max-height: 800px;
        }
        @media(max-width:1200px){
            max-height: 700px;
        }
        @media(max-width:980px){
            max-height: 600px;
        }
        @media(max-width:880px){
            max-height: 500px;
        }
        @media(max-width:600px){
            display:none;
        }
    }
}
