$font-text:'Roboto Condensed',sans-serif;
$font-main:'Raleway', sans-serif;

.gallery {
    padding-bottom: 12.5rem;
    

    .galleryTitle {
            margin: 6px 0 0 48px;
            font-weight: 600;
            font-family:$font-main;
            font-size: 3rem;
            line-height: 100%;
            letter-spacing: 0.6px;
            vertical-align: bottom;
            color:rgba(1, 53, 62, 1);
            text-align: center;
            display: flex;
            align-items: flex-start;
            justify-content: center; 
    
        .tt {
            font-size: 4.5rem;
            font-family:$font-main;
            font-weight: 600;
            letter-spacing: 0.6px;
            line-height: 100%;
            vertical-align: bottom;
            color:rgba(0, 178, 160, 1);
        }
    }
    .galleryCentralBlock {
    margin-left: 22.5rem;
    margin-right: 22.5rem;
    margin-top: 12.25rem;
    @media(max-width:1500px){
        margin-left: 18rem;
        margin-right: 18rem;
        margin-top: 10rem;
    }
    @media(max-width:1100px){
        margin-left: 14rem;
        margin-right: 14rem;
        margin-top: 8rem;
    }
    @media(max-width:1000px){
        margin-left: 7rem;
        margin-right: 7rem;
        margin-top: 6rem;
    }
    @media(max-width:900px){
        margin-left: 6rem;
        margin-right: 6rem;
        margin-top: 5rem;
    }
    @media(max-width:850px){
        margin-left: 5rem;
        margin-right: 5rem;
        margin-top: 5rem;
    }
    @media(max-width:850px){
        margin-left: 2rem;
        margin-right: 2rem;
    }
        .galleryNavImg {
        display: grid;
        column-gap: 20px;
        grid-template-rows: 1fr;
        grid-template-columns: auto auto auto auto;
        max-width: 394px;
        @media(max-width:1000px){
                text-align:center;
                margin: auto;
                }
        @media(max-width:250px){
            column-gap: 5px;
            }
            
            .galleryClickRemoveImgAny {
                font-weight: 400;
                font-family: $font-text;
                font-size: 1.5rem;
                line-height: 1.125rem;
                letter-spacing: 0.6px;
                vertical-align: bottom;
                color:rgba(36, 33, 33, 1);
                margin: 0 0 0 0;
            }
            .galleryClickRemoveImgAny:hover{
                color:rgba(0, 178, 160, 1);
                text-decoration: underline;
                cursor:pointer;
            }
        }
        .photoSet {
            margin: 50px 0 0 0;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            column-gap: 40px;
            @media(max-width:1000px){
                grid-template-columns: 1fr;
                grid-template-rows: repeat(2,1fr);
                row-gap: 40px;
            }
        
            .photosetLeft {
                display: grid;
                grid-template-rows: 1fr 1fr;
                row-gap: 40px;
                @media(max-width:1000px){
                margin:auto;
                }

                .photosetLeftSide{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    column-gap: 40px;
                }
                .tooWidth {
                    background-size: cover;
                    max-width: 100%;
                    background-position: center;
                    @media(max-width:1000px){
                    margin: auto;
                    }
                }
                .cube {
                    background-size: cover;
                    max-width: 100%;
                    background-position: center;
                    @media(max-width:1000px){
                    margin: auto;
                    }
                }
            }
            .photosetRight {
                display: grid;
                grid-template-rows: repeat(2,1fr);
                row-gap: 40px;
                @media(max-width:1000px){
                margin:auto;
                }
                .photosetRightSide{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    column-gap: 40px;
                }
                .tooWidth {
                    background-size: cover;
                    max-width: 100%;
                    background-position: center;
                    @media(max-width:1000px){
                    margin: auto;
                    }
                }
                .cube {
                    background-size: cover;
                    max-width: 100%;
                    background-position: center;
                    @media(max-width:1000px){
                    margin: auto;
                    }
                }
            }
        }
        .showNow {
            text-align: center;
            justify-content: center; 
            font-weight: 400;
            font-family: $font-text;
            font-size: 1.5rem;
            line-height: 18px;
            letter-spacing: 0.6px;
            vertical-align: bottom;
            width:350px;
            height:70px;
            margin: 50px 35.4166667% 0 35.4166667%;
            background-color: rgba(255, 255, 255, 1);
            border: 1px solid rgba(196, 196, 196, 1);
            @media(max-width:1500px){
                width: 300px;
                height: 60px;
            }
            @media(max-width:1000px){
                width: 250px;
                height: 50px;
            }
            @media(max-width:850px){
                width: 200px;
                height: 40px;
            }
            @media(max-width:850px){
                margin:30px 30% 0 30%;
            }
            @media(max-width:450px){
                margin:30px 30% 0 30%;
                width: 150px;
                height: 30px;
            }
            @media(max-width:380px){
                margin:20px 30% 0 30%;
                width: 125px;
                height: 25px;
            }
            @media(max-width:380px){
                margin:20px 20% 0 20%;
                width: 170px;
                height: 25px;
            }
            @media(max-width:320px){
                margin:20px 10% 0 10%;
                width: 170px;
                height: 25px;
            }
            @media(max-width:270px){
                margin:10px 15% 0 15%;
                width: 140px;
                height: 20px;
            }
        }
        .showNow:hover{
            background:linear-gradient(135deg, rgb(241, 204, 137),orange,rgb(241, 199, 122) );
            transform:translate(0px, -10px);
            transition-duration: 1s;
            cursor:pointer;
        }
    }
}