$font-text:'Roboto Condensed',sans-serif;
$font-main:'Raleway', sans-serif;



@mixin roaltTitle{
    font-weight: 400;
    font-family: $font-text;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0.6px;
    vertical-align: bottom;
    color:rgba(36, 33, 33, 1);
}

@mixin roaltParagraph{
    font-family: $font-text;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0.6px;
    vertical-align: bottom;
    color:rgba(36, 33, 33, 1);
    margin: 0;
    @media(max-width:1200px){
        font-size: 1rem;
    }
    @media(max-width:1020px){
        font-size: 1.5rem;
        line-height: 2rem;
    }
}
@mixin lastChildSpeach{
    >:last-child{
        font-family: $font-text;
        font-weight: 300;
        font-size: 0.875rem;
        line-height: 1.125rem;
        letter-spacing: 0.6px;
        vertical-align: bottom;
        color:rgba(36, 33, 33, 1);
        margin: 0;
        @media(max-width:1200px){
            font-size: 1rem;
        }
        @media(max-width:1020px){
            font-size: 1.5rem;
        }
    }
}

.firstSpeach {
    background-color: rgba(248, 248, 248, 1);
    padding-bottom: 179px;
    @media(max-width:1510px){
    padding-bottom: 150px;
    }
    @media(max-width:1280px){
    padding-bottom: 100px;
    }
    .firstSpeachTitle {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 10fr 1fr;
        padding-top: 12.8rem;
        margin-left: 653px;
        margin-right: 570px;
        font-family: $font-main;
        font-weight: 600;
        font-size: 3rem;
        line-height: 100%;
        letter-spacing: 0.4px;
        vertical-align: bottom;
        color:rgba(1, 53, 62, 1);
        word-spacing: 6px;
        @media(max-width:1910px){
            margin-right: 550px;
            margin-left: 600px;        
        }
        @media(max-width:1830px){
                margin-right: 500px;
                margin-left: 550px;        
        }
        @media(max-width:1734px){
                margin-right: 400px;
                margin-left: 450px;        
        }        
        @media(max-width:1510px){
                margin-right: 400px;
                margin-left: 425px;        
        }
        @media(max-width:1350px){
                margin-right: 325px;
                margin-left: 405px;        
        }
        @media(max-width:1250px){
                margin-right: 285px;
                margin-left: 355px;        
        }
        @media(max-width:1250px){
                margin-right: 230px;
                margin-left: 300px;        
        }
        
        @media(max-width:950px){
                margin-right: 190px;
                margin-left: 250px;        
        }
        @media(max-width:860px){
                margin-right: 140px;
                margin-left: 210px;        
        }
        @media(max-width:780px){
                margin-right: 100px;
                margin-left: 150px;        
        }
        @media(max-width:660px){
                margin-right: 70px;
                margin-left: 110px;        
        }
        @media(max-width:550px){
                margin-right: 50px;
                margin-left: 90px;        
        }
        @media(max-width:570px){
                margin-right: 30px;
                margin-left: 60px;        
        }
        @media(max-width:425px){
                margin-right: 20px;
                margin-left: 40px;        
        }
        @media(max-width:395px){
                margin-right: 10px;
                margin-left: 20px;        
        }
        @media(max-width:370px){
                margin-right: 5px;
                margin-left: 10px;        
        }
        @media(max-width:370px){
                font-size: 2rem;       
        }
    
        .tt {
            font-size: 4.5rem;
            font-family:$font-main;
            font-weight: 600;
            letter-spacing: 0.6px;
            line-height: 100%;
            vertical-align: bottom;
            color:rgba(0, 178, 160, 1);
            margin-left: -25px;
            margin-top: 2px;
        }
    }
    .roalt {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-left: 22.5rem;
        margin-right: 22.5rem;
        column-gap: 4.625rem;
        
        @media(max-width:1100px){
            margin-left: 18rem;
            margin-right: 18rem;
        }
        @media(max-width:1000px){
            margin-left: 15rem;
            margin-right: 15rem;
        }
        @media(max-width:930px){
            margin-left: 10rem;
            margin-right: 10rem;
        }
        @media(max-width:900px){
            margin-left: 8rem;
            margin-right: 8rem;
        }
        @media(max-width:865px){
            margin-left: 6rem;
            margin-right: 6rem;
        }
        @media(max-width:820px){
            margin-left: 3rem;
            margin-right: 3rem;
        }
        @media(max-width:750px){
            border:solid 3px rgba(0, 178, 160, 1);
            border-radius: 10px;
            padding: 10px;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3,1fr);
            row-gap: 10px;
            }
            @media(max-width:750px){
            row-gap: 5px;
            }
        
        .roalt1 {
            display: grid;
            grid-template-rows: 1fr 1fr;
            margin-top: 40px;
            @media(max-width:750px){
                margin-top: 0px;
            }

            .roalt1_block {
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 3fr 5fr;
                >:nth-child(1){
                    margin: 7px 0 0 65px;

                    @media(max-width:1700px){
                        margin:7px 0 0 40px ;
                    }
                    @media(max-width:1460px){
                        margin:7px 0 0 20px ;
                    }
                    @media(max-width:450px){
                        width:30px ;
                        height:30px ;
                    }
                }
                >:nth-child(2){
                    @include roaltTitle;
                    margin-top: 25px;
                }
            }
            >:last-child{
                @include roaltParagraph;
            }
        }
        .roalt2 {
            display: grid;
            grid-template-rows: 1fr 1fr;
            margin-top: 40px;
            @media(max-width:750px){
                margin-top: 0px;
            }
            .roalt2_block {
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 3fr 5fr;
                >:nth-child(1){
                    margin: 9px 0 0 83px;
                    
                    @media(max-width:1700px){
                        margin:9px 0 0 40px ;
                    }
                    @media(max-width:1460px){
                        margin:9px 0 0 20px ;
                    }
                    @media(max-width:450px){
                        width:30px ;
                        height:30px ;
                    }
                }
                >:nth-child(2){
                        @include roaltTitle;
                        margin: 12px 0 0 9px;
                }
            }
            >:last-child{
                        @include roaltParagraph;
                        }
        }
        .roalt3 {
            display: grid;
            grid-template-rows: 1fr 1fr;
            margin-top: 40px;
            @media(max-width:750px){
                margin-top: 0px;
            }
            .roalt3_block {
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 3fr 5fr;
                >:nth-child(1){
                    margin: 9px 0 0 73px;
                    
                    @media(max-width:1700px){
                        margin:9px 0 0 40px ;
                    }
                    @media(max-width:1460px){
                        margin:9px 0 0 20px ;
                    }
                    @media(max-width:450px){
                        width:30px ;
                        height:30px ;
                    }
                }
                >:nth-child(2){
                        @include roaltTitle;
                        margin: 11px 0 0 2px;
                }
            }
            >:last-child{
                        @include roaltParagraph;
                        }
        }
    }
    .EndFirstSpeach {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-top: 103px;
        margin-left: 22.5rem;
        margin-right: 22.5rem;
        @media(max-width:1550px){
            margin-left:20rem ;
            margin-right:20rem ;
        }
        @media(max-width:1550px){
            column-gap: 50px;
        }
        @media(max-width:1000px){
            margin-left: 18rem;
            margin-right: 22.5rem;
        }
        @media(max-width:1000px){
            margin-left: 15rem;
            margin-right: 22.5rem;
        }
        @media(max-width:985px){
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2,1fr);    
            }
        @media(max-width:930px){
            margin-left: 10rem;
            margin-right: 22.5rem;
        }
        @media(max-width:880px){
            margin-left: 5rem;
            margin-right: 5rem;
        }
        @media(max-width:750px){
            margin-left: 2rem;
            margin-right: 2rem;
        }
        
        .leftEndSpeach {
            max-height: 156px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3,1fr);
        
            .leftEndSpeach1 {
                max-height: 43px;
                display: grid;
                grid-template-rows:23px 20px ;
                row-gap: 2px;
                .speach1{
                    display: grid;
                    grid-template-columns: 5fr 1fr;
                    max-width: 253px;
                    >:nth-child(1){
                        margin: 7px 0 0 0;
                        @media(max-width:350px){
                            width: 150px;
                        }
                        @media(max-width:290px){
                            width: 120px;
                        }
                    }
                    >:nth-child(2){
                    font-weight: 400;
                    font-family: $font-text;
                    font-size: 1.5rem;
                    line-height: 1.125rem;
                    letter-spacing: 0.6px;
                    vertical-align: bottom;
                    color:rgba(36, 33, 33, 1);
                    margin: 3px 0 0 0;
                    }
                }
                @include lastChildSpeach
            }
            .leftEndSpeach2 {
                max-height: 43px;
                display: grid;
                grid-template-rows:23px 20px ;
                row-gap: 2px;
                .speach2{
                    display: grid;
                    grid-template-columns: 5.75fr 1fr;
                    max-width: 300px;
                    >:nth-child(1){
                        margin: 8px 0 0 0;
                        @media(max-width:350px){
                            width: 200px;
                        }
                        @media(max-width:290px){
                            width: 160px;
                        }
                    }
                    >:nth-child(2){
                    font-weight: 400;
                    font-family: $font-text;
                    font-size: 1.5rem;
                    line-height: 1.125rem;
                    letter-spacing: 0.6px;
                    vertical-align: bottom;
                    color:rgba(36, 33, 33, 1);
                    margin: 5px 0 0 0;
                    }
                }
                @include lastChildSpeach
            }
            .leftEndSpeach3 {
                max-height: 43px;
                display: grid;
                grid-template-rows:23px 20px ;
                row-gap: 3px;
                .speach3{
                    display: grid;
                    grid-template-columns:6.82fr 1fr;
                    max-width: 346px;
                    >:nth-child(1){
                        margin: 8px 0 0 0;
                        @media(max-width:350px){
                            width: 250px;
                        }
                        @media(max-width:290px){
                            width: 180px;
                        }
                    }
                    >:nth-child(2){
                    font-weight: 400;
                    font-family: $font-text;
                    font-size: 1.5rem;
                    line-height: 1.125rem;
                    letter-spacing: 0.6px;
                    vertical-align: bottom;
                    color:rgba(36, 33, 33, 1);
                    margin: 6px 0 0 0;
                    }
                }
                @include lastChildSpeach
            }
        }
        .rightEndSpeach {
            display: grid;
            row-gap: 30px;
            @media(max-width:985px){
                row-gap: 10px !important;
            }
            
            
            .rightEndSpeachTop {
                font-family: $font-text;
                font-weight: 300;
                font-size: 0.875rem;
                line-height: 1.125rem;
                letter-spacing: 0.6px;
                vertical-align: bottom;
                color:rgba(36, 33, 33, 1);
                margin: 0;
                font-size: 1rem;
                @media(max-width:1200px){
                    font-size: 1rem;
                }
                @media(max-width:1020px){
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
            }
            .rightEndSpeachBottom {
                font-family: $font-text;
                font-weight: 300;
                font-size: 0.875rem;
                line-height: 1.125rem;
                letter-spacing: 0.6px;
                vertical-align: bottom;
                color:rgba(36, 33, 33, 1);
                margin: 0;
                font-size: 1rem;
                @media(max-width:1200px){
                    font-size: 1rem;
                }
                @media(max-width:1020px){
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
            }
        }
    }
}