$font-text:'Roboto Condensed',sans-serif;
$font-main:'Raleway', sans-serif;


.packServices {
    padding-top: 11.3125rem;
    background-color: rgba(248, 248, 248, 1);
    @media(max-width:1650px){
        padding-top: 8rem;
        }
        
    .packageTitle {
        font-family: $font-main;
        font-weight: 600;
        font-size: 3rem;
        line-height: 100%;
        vertical-align: bottom;
        color:rgba(1, 53, 62, 1);
        letter-spacing: 0.6px;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 21px 13px 0 0;
        max-height: 50px;
        margin: 0 auto;
        
        .tt {
            font-family:$font-main;
            font-size: 4.5rem;
            font-weight: 600;
            line-height: 100%;
            letter-spacing: 0.6px;
            vertical-align: bottom;
            color:rgba(0, 178, 160, 1);
            margin-right: -15px;
            margin-top: 4px;
        }
    }
    .packVariable {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 3.75rem;
        justify-content: center;
        max-width: 1200px;
        margin: 14.6rem auto 0 auto;
        padding-bottom: 12.75rem;
        @media(max-width:1650px){
            margin: 12rem auto 0 auto;
            padding-bottom: 10rem;
        }
        @media(max-width:1201px){
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3,1fr);
            column-gap: none;
            margin: 8rem auto 0 auto;
            padding-bottom: 8rem;
            row-gap: 4rem;
        }

        .ProfiPack,.allInPack,.standartPack {
            background-color: rgba(255, 255, 255, 1);
            text-align: center;
            padding-top: 50px;
            margin-right: 4px;
            @media(max-width:1650px){
                padding-left: 1rem;
                padding-right: 1rem;

            }
            @media(max-width:1201px){
                max-width: 400px;
                justify-content: center;
                margin: auto auto;
                border:solid rgba(0, 178, 160, 1) 5px;
                border-radius: 8%; 
                padding: 3rem;
            }
            @media(max-width:360px){
                margin: 20px;
            }
            .packVariableTitle {
                font-family: $font-text;
                font-weight: 400;
                font-size: 2.25rem;
                line-height: 40px;
                letter-spacing: 0px;
                vertical-align: bottom;
                color:rgba(1, 53, 62, 1);
                margin: 0;
                @media(max-width:1020px){
                        font-size: 5rem;
                        line-height: 6rem;
                    }
            }
            .packVariableOption {
                text-align: left;
                justify-self: center;
                margin: 0 auto;
                display: grid;
                grid-template-columns: 1fr;
                row-gap: 20px;
                margin: 3.78rem 0 0 0;
                .optionPackServices{
                    font-family: $font-text;
                    font-weight: 400;
                    font-size: 0.875rem;
                    line-height: 18px;
                    letter-spacing: 0.6px;
                    vertical-align: bottom;
                    color:rgba(36, 33, 33, 1);
                    margin: 0;
                    @media(max-width:1650px){
                    font-size:1.2rem;
                    line-height: 1.5rem;
                    }
                    @media(max-width:1201px){
                        font-size: 1.6rem;
                        line-height: 2rem;
                    }
                    @media(max-width:1020px){
                        font-size: 2rem;
                        line-height: 2.5rem;
                    }
                }
            }
            .packVariablePrice {
                font-family: $font-text;
                font-weight: 400;
                font-size: 2.25rem;
                line-height: 40px;
                letter-spacing: 0px;
                vertical-align: bottom;
                color:rgba(1, 53, 62, 1);
                @media(max-width:1201px){
                font-size: 3rem;
                line-height: 4rem;
                }
                @media(max-width:1020px){
                        font-size: 4rem;
                        line-height: 5rem;
                    }
                .dollar{
                    font-family: $font-text;
                    font-weight: 400;
                    font-size: 1.125rem;
                    line-height: 22px;
                    letter-spacing: 0px;
                    vertical-align: bottom;
                    color:rgba(1, 53, 62, 1);
                    @media(max-width:1201px){
                        font-size: 2rem;
                        line-height: 2.5rem;
                    }
                    @media(max-width:1020px){
                        font-size: 3rem;
                        line-height: 4rem;
                    }
                }
            }
        }
    }
}


.ProfiPack{
    .packVariablePrice{
        margin-top:3.8rem ;
    }
}
.allInPack{
    .packVariablePrice{
        margin-top:3.8rem ;
    }
}
.standartPack{
    .packVariablePrice{
        margin-top:8.5rem ;
    }
}