$font-text:'Roboto Condensed',sans-serif;




    .introStatistic {
        max-width: 695px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4,auto);
        grid-template-rows: 1fr;
        column-gap: 100px;
        justify-content: center;
        @media(max-width:950px){
            column-gap: 80px;
        }
        @media(max-width:790px){
            column-gap: 60px;
        }
        @media(max-width:540px){
            column-gap: 40px;
        }
        @media(max-width:420px){
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4,1fr);
            text-align: center;
            column-gap: 0px;
            row-gap: 20px;
        }
        .statickTitle {
            margin: 4px 0 0 0 ;
            font-family: $font-text;
            font-weight: 700;
            font-size: 4rem;
            line-height: 100%;
            letter-spacing: 0.6px;
            vertical-align: bottom;
            color:rgba(1, 53, 62, 1);
            }
            .statickParagraf {
                font-family: $font-text;
                font-weight: 300;
                font-size: 0.875rem;
                line-height: 18px;
                letter-spacing: 0.6px;
                vertical-align: bottom;
                color:rgba(36, 33, 33, 1);
                margin: 12px 0 0 20px;
                @media(max-width:1550px){
                    font-size: 1.5rem;
                    margin: 0 auto;
                    
                }
                @media(max-width:1200px){
                font-size: 1.8rem;
                }
            }
        .turstic {
        }
        .horusSerfing {
        }
        .profiCoach {
        }
        .dayOfYear {
            margin-left: -15px;
        }
    }