.video {
    display:flex;
    justify-content: center;

    .imgForVideo {
        margin-top: 12.5rem;
        margin-bottom: 12.5rem;
        max-width: calc(100% - 720px);
        @media(max-width:1800px){
            margin-top: 10rem;
            margin-bottom: 10rem;
            max-width: calc(100% - 560px);
        }
        @media(max-width:1550px){
            margin-top: 8rem;
            margin-bottom: 8rem;
            max-width: calc(100% - 480px);
        }
        @media(max-width:1441px){
            max-width: calc(100% - 360px);
        }
        @media(max-width:1320px){
            max-width: calc(100% - 280px);
        }
        @media(max-width:1200px){
            max-width: calc(100% - 200px);
        }
        @media(max-width:980px){
            max-width: calc(100% - 100px);
            margin-top: 5rem;
            margin-bottom: 5rem;
        }
        @media(max-width:850px){
            max-width: calc(100% - 80px);
            margin-top: 4rem;
            margin-bottom: 4rem;
        }
        @media(max-width:750px){
            max-width: calc(100% - 50px);
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
        @media(max-width:550px){
            max-width: calc(100% - 20px);
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

    }
}
